// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// variables
$yellow: rgb(255, 192, 0);
$lightGray: #d3d3d3;
$white: #fff;
$fontGray:RGB(64, 68, 79);
$background:rgb(18, 22, 33);
$lightBackground:rgb(27, 33, 45);
$fontFamily: 'Montserrat',sans-serif;
$transition-in: .4s ease-in;
$transition-out: .6s ease-out;


// DEFAULT STYLES
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: $fontFamily;
    background-color: $background;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: auto;

    @media(max-width:768px){
        width: 90%;
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $lightGray;
    transition: $transition-out;

    &:hover{
        transition: $transition-in;
        color: $yellow;
    }
}

// home
.home{

    &__logo{
        padding: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h2{
            color: $lightGray;
            font-size: 3rem; 

            @media(max-width:1024px){
                font-size: 2.5rem;
            }
    
            @media(max-width:768px){
                font-size: 1.7rem;
            }
        }

        span{
            color: $yellow;
        }

        img{
            width:60px;
            height: 70px;

            @media(max-width:1024px){
                width:50px;
                height: 60px;
            }
        }

        @media(max-width:1024px){
            justify-content: center;
        }
    }
}



// navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media(max-width:768px){
        margin-bottom: 10px;
    }
    


    &__form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &__input{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            outline: none;
            font-size: 1.1rem;
            background-color: $lightBackground;
            width: 50%;
            color: $lightGray;

            @media(max-width:1024px){
                width: 60%;
                font-size: 1rem;
            }

            @media(max-width:768px){
                width: 95%;
                padding: 10px;
                font-size: 0.9rem;
            }
        }

        &__icon{
            font-size: 2rem;
            color: $white;
            transition: $transition-out;
            padding:10px 10px 0px;
            color: $lightGray;

            @media(max-width:1024px){
                font-size: 1.8rem;
            }

            @media(max-width:768px){
                font-size: 1.5rem;
                padding:5px 5px 0px;
            }

            &:hover{
                cursor: pointer;
                color: $yellow;
                transition: $transition-in;
            }
        }
    }
}


// header
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    color: $lightGray;
    flex-wrap: nowrap;
    margin: 50px 0px;


    @media(max-width:1024px){
        flex-wrap: wrap; 
        margin: 20px 0px;
    }

    &__title{
        flex: 0 0 35%;
        font-size: 3.2rem;

        @media(max-width:1024px){
            flex: 0 0 100%;
            font-size: 2.9rem;
            margin-bottom:15px;
        }

        @media(max-width:768px){
            line-height: 35px;
            font-size: 2rem;  
        }

        span{
            color: $yellow;
        }
    }

    &__text{
        flex: 0 0 30%;
        font-size: 1.2rem;

        @media(max-width:1024px){
            flex: 0 0 100%;
            font-size: 1rem;
        }

        @media(max-width:768px){
            text-align:justify; 
        }
    }
}



// list

.list{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 23%;
        position: relative;
        height: 55vh;
        margin:10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $lightGray;


      

        &__card{
            position: absolute;
            bottom: 0;
            backdrop-filter: blur(2rem);
            width: 100%;
            height: 35%;
            padding: 20px;
            transition: $transition-out;
            overflow: hidden;

            &:hover{
                transition: $transition-in;
                height: 55%;
            }

            &__header{
                font-size: 1.2rem ;
                color: $lightGray;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
            }

            &__year{
                color: $yellow;
                font-size: 1.3rem;
                font-weight: 200;
            }

            &__type{
                color: $yellow;
                margin-top: 10px;
                font-weight: 600;
            }

            &__link{
                font-size: 1.7rem;
                font-weight: 200;
                display: block;
                margin-top: 80px;
                text-align: center;
                border-top: 1px solid $lightGray;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
            }

        }
    }

    
}


