// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// variables
$yellow: rgb(255, 192, 0);
$lightGray: #d3d3d3;
$white: rgb(218, 209, 209);
$fontGray:RGB(64, 68, 79);
$background:rgb(18, 22, 33);
$lightBackground:rgb(27, 33, 45);
$fontFamily: 'Montserrat',sans-serif;
$transition-in: .4s ease-in;
$transition-out: .6s ease-out;


// DEFAULT STYLES
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: $fontFamily;
    background-color: $background;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: auto;

    @media(max-width:768px){
        width: 90%;
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $lightGray;
    transition: $transition-out;

    &:hover{
        transition: $transition-in;
        color: $yellow;
    }
}

// home
.home{
    

    &__logo{
        padding: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h2{
            color: $lightGray;
            font-size: 3rem; 

            @media(max-width:1024px){
                font-size: 2.5rem;
            }
    
            @media(max-width:768px){
                font-size: 1.7rem;
            }
        }

        span{
            color: $yellow;
        }

        img{
            width:60px;
            height: 70px;

            @media(max-width:1024px){
                width:50px;
                height: 60px;
            }
        }

        @media(max-width:1024px){
            justify-content: center;
        }
    }
}



// Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media(max-width:768px){
        margin-bottom: 10px;
    }
    


    &__form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &__input{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            outline: none;
            font-size: 1.1rem;
            background-color: $lightBackground;
            width: 50%;
            color: $lightGray;

            @media(max-width:1024px){
                width: 60%;
                font-size: 1rem;
            }

            @media(max-width:768px){
                width: 95%;
                padding: 10px;
                font-size: 0.9rem;
            }
        }

        &__icon{
            font-size: 2rem;
            color: $white;
            transition: $transition-out;
            padding:10px 10px 0px;
            color: $lightGray;
            background: none;
            outline: none;
            border: none;

            @media(max-width:1024px){
                font-size: 1.8rem;
            }

            @media(max-width:768px){
                font-size: 1.5rem;
                padding:5px 5px 0px;
            }

            &:hover{
                cursor: pointer;
                color: $yellow;
                transition: $transition-in;
            }
        }
    }
}


// Header
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    color: $lightGray;
    flex-wrap: nowrap;
    margin: 50px 0px;


    @media(max-width:1024px){
        flex-wrap: wrap; 
        margin: 20px 0px;
    }

    &__title{
        flex: 0 0 35%;
        font-size: 3.2rem;

        @media(max-width:1024px){
            flex: 0 0 100%;
            font-size: 2.9rem;
            margin-bottom:15px;
        }

        @media(max-width:768px){
            line-height: 35px;
            font-size: 2rem;  
        }

        span{
            color: $yellow;
        }
    }

    &__text{
        flex: 0 0 30%;
        font-size: 1.2rem;

        @media(max-width:1024px){
            flex: 0 0 100%;
            font-size: 1rem;
        }

        @media(max-width:768px){
            text-align:justify; 
        }
    }
}



// MovieItem

.list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 23%;
        position: relative;
        height: 55vh;
        margin:10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $lightGray;


        @media (max-width:1400px){
            flex: 0 0 48%;
            margin:5px;
        }

        @media(max-width:768px){
            flex: 0 0 100%;
        }
      

        &__card{
            position: absolute;
            bottom: 0;
            backdrop-filter: blur(1.5rem);
            width: 100%;
            height: 35%;
            padding: 20px;
            transition: $transition-out;
            overflow: hidden;

    
            &:hover{
                transition: $transition-in;
                height: 60%;
            }

            @media(min-width:1024px){
                padding: 10px;
            }

            @media(max-width:768px){

                &:hover{
                    transition: none;
                    height: 35%;
                }
            }

            @media(max-width:540px){
                padding: 0px 5px;
            }

            &__header{
                font-size: 1.4rem ;
                color: $lightGray;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                @media(max-width:1024px){
                    font-size: 1.2rem;
                } 

                @media(max-width:540px){
                    font-size: 1rem;
                }
            }

            &__year{
                color: $yellow;
                font-size: 1.3rem;
                font-weight: 200;

                @media(max-width:1024px){
                    font-size: 1.2rem;
                }

                @media(max-width:540px){
                    font-size: 1rem;
                }
               
            }

            &__type{
                color: $yellow;
                font-weight: 400;
            }


            &__link{
                font-size: 1.7rem;
                font-weight: 200;
                display: block;
                margin-top: 30%;
                text-align: center;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);

                @media(max-width:1024px){
                    font-size: 1.5rem;
                    margin-top: 30%;
                }

                @media(max-width:768px){
                    font-size: 1.3rem;
                    margin-top: 15px;
                }

                @media(max-width:540px){
                    font-size: 1.1rem;
                    margin-top: 0px;
                }
            }

        }
    }
}


// MovieDetail

.detail{
    margin-bottom: 15%;
    
    &__banner{
        padding: 20px;
        height: 30vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1{
            color: $yellow;
            text-align: center;
            font-size: 2.5rem;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);

            @media(max-width:1024px){
                font-size: 2rem;
            }
    
            @media(max-width:768px){
                font-size: 1.5rem;  
            }
        }
    }

    &__container{
        
        &__ratings{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;

            @media(max-width:768px){
                padding: 10px 0px; 
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    font-size: 1.2rem;
                    color: $white;
                    margin:0px 20px 0px 5px;

                    @media(max-width:768px){
                        font-size: 1rem;
                    }
                }

                img{
                    width: 35px;

                    @media(max-width:768px){
                        width: 25px;  
                    }

                    @media(max-width:540px){
                        width: 20px;  
                    }
                }
            }
        }

        &__descShort{
            padding: 10px 0px;

            &__type{
                background-color: $yellow;
                display: inline-block;
                padding: 2px;
                border-radius: 5px;
                margin: 5px auto;
                color: $fontGray!important;
            }

            h4{
                color: $white;
                font-size: 1.1rem;
                font-weight: 300;

                @media(max-width:768px){
                    font-size: 1rem; 
                }
            }

            p{
                color: $white;
                display: flex;
                align-items: center;
                font-size: 1.1rem;

                @media(max-width:768px){
                    font-size: 1rem; 
                }

                i{
                    font-size: 1.1rem;
                    color: $yellow;
                    margin-right:5px;

                    @media(max-width:768px){
                        font-size: 1rem; 
                    }
                }
            }
        }

        &__descLong{
            margin-bottom: 5%;
            
            h4{
                color: $fontGray;
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 10px;

                span{
                    color: $yellow;
                }

                @media(max-width:768px){
                    font-size: 0.9rem; 
                }
            }

            p{
                color: $white;
                font-size: 1.2rem;
                margin: 25px auto;

                @media(max-width:768px){
                    font-size: 1rem; 
                }

                @media(max-width:520px){
                    text-align: justify;
                }
            }
        }

        &__back{
            color: $fontGray;
            display: inline-block;
            font-size: 2.2rem;
            margin-top: 20px;
            transition: $transition-out;

            &:hover{
                color: $yellow;
                cursor: pointer;
                transition: $transition-in;
            }
            
            @media(max-width:1024px){
                font-size: 2rem;
            }

            @media(max-width:768px){
                margin-top: 5px;
                font-size: 1.8rem;
            }
            
        }
    }
}

// PageButtons

.pages{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    &__infoBox{
        width: 30%;
        font-size: 2rem;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width:768px){
            font-size: 1.8rem;
            width: 60%;
        }

        i{
            transition: $transition-out;

            &:hover{
                transition: $transition-in;
                color: $yellow;
                cursor: pointer;
            }
        }

        span{
            flex: 0 0 35%;
            text-align: center;
            display: inline-block;
            padding: 0px 20px;
            margin: 0px 5px;
            border-radius: 5px;
            color: $yellow;
            font-size: 2.2rem;
            background-color: $lightBackground;

            @media(max-width:768px){
                font-size: 2rem;
            }

        }
    }

    &__infoText{
        margin-top: 5%;
        color: $white;
        font-size: 1.2rem;

        @media(max-width:768px){
            font-size: 1rem;
        }
    }
}



// Footer

footer{
    padding: 40px 20px;
    margin-top: 5%;
    background-color: $lightBackground;
    text-align: center;
    
    p{
        font-size: 1.3rem;
        color: $white;
        
        @media(max-width:768px){
            font-size: 1rem;
        }
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            font-size: 1.8rem;
            margin: 5px 10px;

            @media(max-width:768px){
                font-size: 1.3rem;
            }
        }

        .mail{
            position: relative;
            display: inline-block;

            &:hover span{
                visibility: visible;
            }

            span{
                position: absolute;
                visibility: hidden;
                background-color: $background;
                font-size: 1.2rem;
                padding: 5px;
                margin-left: 10px;
                border-radius: 5px;

                @media(max-width:520px){
                    display: none!important;
                }
            }
        }
    }
}


// Skeleton

.skeletonBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .skeleton{
        flex: 0 0 23%;
        height: 55vh;
        margin:10px;
        background-color: $lightBackground;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;

        @media (max-width:1400px){
            flex: 0 0 48%;
            margin:5px;
        }

        @media(max-width:768px){
            flex: 0 0 100%;
        }
    
        &__desc{
            height: 30vh;
            width: 100%;
            background-color: $fontGray;
        }
    
        &__header{
            width: 60%;
            height: 2vh;
            background-color: $fontGray;
        }
    
        &__text{
            width: 65%;
            height: 3vh;
            background-color: $fontGray;
        }
    }
}


// Skeleton section

.skeletonSection{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $lightBackground;
    padding: 20px;
    height: 40%;
    width: 100%;
    margin: 5% auto 15% auto;

    @media(max-width:768px){
        height: 80%;
    }

    &__item1{
        width: 100%;
        height: 25vh;
        background-color: $fontGray;

        @media(max-width:768px){
            height: 15vh;
        }

    }

    &__item2{
        width: 10%;
        height: 3vh;
        margin-top: 5%;
        background-color: $fontGray;

        @media(max-width:768px){
            width:20%;
        }
    }

    &__item3{
        width: 15%;
        height: 3vh;
        margin-top: 5%;
        background-color: $fontGray;

        @media(max-width:768px){
            width:25%;
        }
    }

    &__item4{
        width: 30%;
        height: 10vh;
        margin-top: 5%;
        background-color: $fontGray;

        @media(max-width:768px){
            height: 5vh;
            width:45%;
        }
    }

    &__item5{
        width: 27%;
        height: 10vh;
        margin-top: 5%;
        background-color: $fontGray;

        @media(max-width:768px){
            height: 5vh;
            width:47%;
        }
    }

    &__item6{
        width: 85%;
        height: 20vh;
        margin-top: 10%;
        background-color: $fontGray;
    }

}



// Scroll to Top

.scrollToTop{
    position: fixed;
    padding: 12px 15px; 
    bottom: 5%;
    right: 3%;
    background-color: $lightBackground;
    border-radius: 25%;
    border: 1px solid $white;
    font-size: 1.5rem;
    color: $white;
    transition: $transition-out !important;

    @media(max-width:768px){
        font-size: 1rem;
        bottom: 5%;
        right: 2%;
    }

    &:hover{
        cursor: pointer;
        transition: $transition-in !important;
        background-color: $fontGray;
        color: $yellow;
    }
}


// No Result

.resultBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 40vh;
    // background-color: $lightBackground;
    padding: 20px;
    // border-radius: 5px;

    &__img{
        width: 50%;
        
        @media(max-width:1024px){
            width: 70%;
        }

        @media(max-width:520px){
            width: 100%;
        }
    }

    &__gif{
        position: absolute;
        width: 70%;
        
        @media(max-width:1024px){
            width: 100%;
        }

        @media(max-width:520px){
            width: 120%;
        }
        
    }

    &__text{
        color: $white;
        font-size: 2rem;
        text-align: center;

        @media(max-width:768px){
            font-size: 1.5rem;
        }

        span{
            color: $yellow;
        }
    }
}